.tag-manage {
  position: relative;
  background-color: #fff;
  padding: 20px 20px;
  margin-top: 20px;
}
.tag-manage ul {
  margin: 0;
  padding: 0;
}
.tag-manage ul li {
  cursor: pointer;
  margin: 2px;
  padding: 6px;
}
.tag-manage ul li i {
  visibility: hidden;
  color: #666;  
}
.tag-manage>ul li:hover {
  background: #eee;
}
.tag-manage ul li:hover i {
  visibility: visible;  
}

.tag-manage ul>.active {
  background: #fff9e8 !important;
}
