<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{.Title}}</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link href="./lib/material/css/bootstrap-material-design.css" rel="stylesheet"> -->
    <link href="/lib/material/css/ripples.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/iconfont/iconfont.css">


    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <nav class="navbar navbar-default">
      <div class="container">
        <!-- 手机版显示按钮 -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">~~</a> -->
        </div>
        <!-- 导航栏 -->
        <div class="row">
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">首页</a></li>
              <li><a href="file:///Users/jiayx/workspace/jiayx/go/src/blog/static/index.html">分类1</a></li>
              <li><a href="file:///Users/jiayx/workspace/jiayx/go/src/blog/static/index.html">分类2</a></li>
              <li><a href="file:///Users/jiayx/workspace/jiayx/go/src/blog/static/index.html">分类3</a></li>
              <li><a href="file:///Users/jiayx/workspace/jiayx/go/src/blog/static/index.html">分类4</a></li>
              <li><a href="file:///Users/jiayx/workspace/jiayx/go/src/blog/static/index.html">分类4</a></li>
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>

      </div><!-- /.container-fluid -->
    </nav>

  <!-- 占位的 -->
  <div style="height: 70px; display:none;"></div>
  
  <!-- <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li class="header-active">首页</li>
            <li>dsd sd </span></li>
            <li>分类1</li>
            <li>分类2</li>
            <li>分类3</li>
            <li>分类4</li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="xs-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li class="header-active">首页</li>
            <li>dsd sd </span></li>
            <li>分类1</li>
            <li>分类2</li>
            <li>分类3</li>
            <li>分类4</li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
    </div>
  </div> -->