{{template "header" .}}
  <div class="body">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <div class="posts">
            <div class="post-list">
              <ul>
                {{range .Posts}}
                <li>
                  <div><h4><a href="{{URLFor "postDetail" "slug" .Slug}}">{{.Title}}</a></h4></div>
                  <div class="post-list-meta">
                    <span>
                      <i class="iconfont icon-zhongbiao"></i>
                      <span>{{date "Y-m-d H:i" .CreateTime}}</span>
                    </span>
                  </div>
                  <div>{{.Content}}</div>
                </li>
                {{end}}
              </ul>
            </div>
            <div class="pages">
              <nav>
                <ul class="pagination">
                  {{if .Page.HasPrevious}}
                  <li><a href="/page/{{.Page.Previous}}">&laquo;</a></li>
                  {{end}}
                  {{range .Page.Pages}}
                  {{if eq .Num -1}}
                  <li class="disabled"><span>...</span></li>                             
                  {{else}}
                    {{if .IsCurrent}}
                    <li class="active"><span>{{.Num}}</span></li>
                    {{else}}
                    <li><a href="/page/{{.Num}}">{{.Num}}</a></li>              
                    {{end}}
                    {{end}}
                  {{end}}
                  {{if .Page.HasNext}}
                    <li><a href="/page/{{.Page.Next}}">&raquo;</a></li>
                  {{end}}
                  <div class="clear"></div>
                </ul>
              </nav>
            </div>
          </div>
          
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="recent">
            <div class="recent-header">
              最新文章
            </div>
            <div class="recent-post">
              <ul>
                <li><a href="">哈哈哈哈哈啊哈哈哈哈哈哈哈哈啊哈哈哈哈哈哈哈哈哈哈啊哈哈哈哈哈哈哈哈哈哈啊哈哈哈哈哈哈哈哈哈哈啊哈哈哈</a></li>
                <li>哈哈哈哈哈啊哈哈哈</li>
                <li>哈哈哈哈哈啊哈哈哈哈哈</li>
                <li>哈哈哈哈哈啊哈哈哈</li>
                <li>哈哈哈哈哈啊哈哈哈啊哈哈哈</li>
              </ul>
            </div>
          </div>
          <div class="tags">
            <div class="tags-header">
              标签
            </div>
            <div class="tags-content">
              {{range .Tags}}
              {{$rand := RandInt 6}}
              <span class="label label-{{index $.TagColor $rand}}">{{.Name}}</span>
              {{end}}
            </div>
          </div>
          <div class="recent">
            <div class="recent-header">
              Link
            </div>
            <div class="recent-post">
              <ul>
                <li><a href="">哈哈哈哈哈啊哈哈哈</a></li>
                <li>哈哈哈哈哈啊哈哈哈</li>
                <li>哈哈哈哈哈啊哈哈哈</li>
                <li>哈哈哈哈哈啊哈哈哈</li>
                <li>哈哈哈哈哈啊哈哈哈</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

{{template "footer" .}}

