    <footer>
      <div class="footer">
        Copyright © 2016 GOLB.
      </div>
    </footer>
  </div>
  <div class="overlay" style="display: none;"></div>
  <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="/lib/jquery.nicescroll.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src="http://cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
  <script src="http://cdn.bootcss.com/moment.js/2.14.1/locale/zh-cn.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap-datetimepicker/4.15.35/js/bootstrap-datetimepicker.min.js"></script>
  {{range .Scripts}}
  <script src="{{asset .}}"></script>
  {{end}}
</body>
</html>