<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{.Title}}</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/bootstrap-datetimepicker/4.15.35/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/admin/css/index.css">
  <link rel="stylesheet" href="/admin/css/write.css">
  {{range .Styles}}
  <link href="{{asset .}}" rel="stylesheet">
  {{end}}
  <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1477564694_7200227.css">
  
  <script>
    var HIDE_SIDE_BAR = {{.HideSidebar}}
  </script>
</head>
<body class="">
  <!--[if lt IE 9]>
    <div class="message error browsehappy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
  <![endif]-->
  <header>
    <nav class="light-blue">
      <div class="nav-wrapper">
        <div id="sidebar-control" class="left">
          <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
          </div>
        </div>
        
        <a href="{{URLFor "admin"}}" class="logo left">GOLB</a>
        <div class="options right">
          <ul>
            <li><a href="{{URLFor "writePost"}}"><i class="iconfont icon-zhuanxie"></i>撰写</a></li>
            <li><a href="{{URLFor "logout"}}"><i class="iconfont icon-gerenxinxi"></i>{{.Username}}</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </nav>
  </header>
  <div class="main">
    <div id="sidebar" class="sidebar">
      <ul class="main-menu">
        <li class="sub-menu {{.ConsoleActive}}">
          <a><i class="iconfont icon-console"></i>控制台</a>
          <ul>
            <li class="{{.MainActive}}"><a href="{{URLFor "admin"}}">概要</a></li>
            <li class="{{.ThemeActive}}"><a href="">外观</a></li>
          </ul>
        </li>
        <li class="sub-menu {{.ManageActive}}">
          <a><i class="iconfont icon-guanli"></i>管理</a>
          <ul>
            <li class="{{.PostActive}}"><a href="{{URLFor "postManage"}}">文章</a></li>
            <li class="{{.PageActive}}"><a href="">独立页面</a></li>
            <li class="{{.CommentActive}}"><a href="">评论</a></li>
            <li class="{{.CateActive}}"><a href="{{URLFor "cateManage"}}">分类</a></li>
            <li class="{{.TagActive}}"><a href="{{URLFor "tagManage"}}">标签</a></li>
            <li class="{{.FileActive}}"><a href="">文件</a></li>
            <li class="{{.UserActive}}"><a href="">用户</a></li>
            <li class="{{.LinkActive}}"><a href="">友情链接</a></li>
          </ul>
        </li>
        <li class="sub-menu {{.SettingActive}}">
          <a><i class="iconfont icon-shezhi"></i>设置</a>
          <ul>
            <li class="{{.BaseConfigActive}}"><a href="">基本</a></li>
            <li class="{{.CommentConfigActive}}"><a href="">评论</a></li>
            <li class="{{.ReadConfigActive}}"><a href="">阅读</a></li>
            <li class="{{.LinkConfigActive}}"><a href="">永久链接</a></li>
          </ul>
        </li>
      </ul>
    </div>