{{template "header"}}

    <div class="content">
      <div class="container-fluid">
        <div class="block-header">
          <h3>撰写新文章</h3>
          <div class="row">
            <div class="col-md-9">
              <div class="write-field">
                <div role="form">
                  <div class="form-group">
                    <input type="text" class="form-control radius-0" id="post-title" placeholder="请输入标题">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control radius-0" rows="20" id="post-content" placeholder="这里写内容"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <p id="auto-submit-info">自动保存于 2016-09-08 12:34</p>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group submit-button clearfix">
                        <button id="draft" class="btn btn-default radius-0">保存草稿</button>
                        <button id="publish" class="btn btn-primary radius-0">发布文章</button>
                      </div>
                    </div>
                  </div>
                  <a href="#" data-toggle="tooltip" title="Example tooltip">请悬停在我的上面</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="post-options">
                <ul class="clearfix">
                  <li class="active" data-tab="post-option">选项</li>
                  <li data-tab="post-attachment">附件</li>
                </ul>
                <div id="post-option-cont">
                  <h5>发布日期</h5>
                  <div class="input-group date" id="datetimepicker">
                    <input type="text" class="form-control radius-0" name="create_time" />
                    <span class="input-group-addon radius-0">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  <h5>分类</h5>
                  <div class="cate">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">分类1
                      </label>
                      <ul>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">子分类
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">子分类
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">子分类
                          </label>
                        </div>
                      </ul>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">分类2
                      </label>
                    </div>
                  </div>
                  <h5>选择已有标签</h5>
                  <div class="tags-content">
                    <span class="label">Success <i class="iconfont icon-duigou"></i></span>
                    <span class="label">sa <i class="iconfont icon-duigou"></i></span>
                    <span class="label">dsds <i class="iconfont icon-duigou"></i></span>
                    <span class="label">Success <i class="iconfont icon-duigou"></i></span>
                    <span class="label">Succasdaddess <i class="iconfont icon-duigou"></i></span>
                    <span class="label">颠三倒四 <i class="iconfont icon-duigou"></i></span>
                    <span class="label">丰富的 <i class="iconfont icon-duigou"></i></span>
                  </div>
                  <h5>新增标签</h5>
                  <div class="post-tags">
                    <ul>
                      <li class="tag-input-li" style="margin: 0;">
                        <input id="tag-input" type="text" placeholder="请输入标签名按回车确定">
                      </li>
                      
                    </ul>
                  </div>

                </div>
                <div id="post-attachment-cont" style="display: none;">
                  <div class="upload-area">
                  拖拽文件到这里上传
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        Copyright © 2016 GOLB.
      </div>
    </footer>
  </div>
  <div class="overlay" style="display: none;"></div>
  <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="/lib/jquery.nicescroll.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src="http://cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
  <script src="http://cdn.bootcss.com/moment.js/2.14.1/locale/zh-cn.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap-datetimepicker/4.15.35/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/admin/js/index.js"></script>
</body>
</html>