{{template "header" .}}

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12" style="background-color: #fff;">
          <table class="table">
            <tr><th>#</th><th>标题</th><th>作者</th><th>分类</th><th>日期</th></tr>
            <tr><td><input type="checkbox"><span>12</span></td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
            <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
            <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
            <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
            <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>


{{template "footer" .}}