{{template "header" .}}

    <div class="content">
      <div class="container-fluid">
        <div class="block-header">
          <h3>修改文章</h3>
          {{template "post_form" .}}
        </div>
      </div>
    </div>
{{template "footer" .}}